name: Python package using Conda

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.10
        environment-file: environment.yml
        activate-environment: agente-ia-env
        auto-activate-base: false

    - name: Install dependencies
      run: |
        conda install --file requirements.txt

    - name: Run tests
      run: |
        pytest
